.slide a {
  color: #0581BF;
}
.hero {
  font-family: 'Quicksand', sans-serif;
  font-size: 66px;
  font-weight: 300;
}
.hero span {
  font-size: 44px;
}
@media (max-width: 550px) {
  .firstSlide .panel .skull {
    opacity: 0;
  }
}
.firstSlide .panel .skull {
  opacity: 0;
  transition: opacity .3s ease-in;
}
.firstSlide .panel.hide .skull,
.firstSlide.mixtagon .panel .skull {
  opacity: 1;
}

p {
  font-size: 18px;
}


.experience hr {
  background: rgba(41,41,41,.15);
  height: 1px;
}

.responsibilities li {
  list-style: circle;
  margin: 0  0 1rem 4rem;
}

.button {
  font-size: 16px;
}






.nextSlide svg {
  height: 22px;
  width: 22px;
}


.flex a.svg {
  height: 35px;
  margin-right: 10%;
  width: calc(60% / 3);
}
.flex a.svg:last-child {
  margin-right: 0;
}
.flex .svg svg {
  fill: #0581BF !important;
  height: 35px;
  width: 100%;
}

.footer-icons .svg svg {
  fill: #fff !important;
  height: 40px;
  width: 80px;
}



.hidden {
  display: none;
  height: 0;
}
