.panel .sections .menu.uppercase li {
  font-size: 14px;

  a {
    padding: 5px;

    &:after {
      background-color: $default-dark-color;
      border-radius: 5px;
      content: '';
      display: block;
      height: 2px;
      margin: 5px auto 0;
      transition: .3s width;
      width: 50%;
    }
    &:hover {
      &:after {
        background-color: rgba($theme-blue, .5);
        width: 85%;
      }
    }
  }
}



.slide a {
  color: #0581BF;
}
.hero {
  font-family: 'Quicksand', sans-serif;
  font-size: 66px;
  font-weight: 300;
}
.hero span {
  font-size: 44px;
}
@media (max-width: 550px) {
  .firstSlide .panel .skull {
    opacity: 0;
  }
}
.firstSlide .panel .skull {
  opacity: 0;
  transition: opacity .3s ease-in;
}
.firstSlide .panel.hide .skull,
.firstSlide.mixtagon .panel .skull {
  opacity: 1;
}

p {
  font-size: 18px;
}


.experience hr {
  background: rgba(41,41,41,.15);
  height: 1px;
}

.responsibilities li {
  list-style: circle;
  margin: 0  0 1rem 4rem;
}

.button {
  font-size: 16px;
}






.nextSlide svg {
  height: 22px;
  width: 22px;
}


.flex a.svg {
  height: 35px;
  margin-right: 10%;
  width: calc(60% / 3);
}
.flex a.svg:last-child {
  margin-right: 0;
}
.flex .svg svg {
  fill: #0581BF !important;
  height: 35px;
  width: 100%;
}

.footer-icons .svg svg {
  fill: #fff !important;
  height: 40px;
  width: 80px;
}



.hidden {
  display: none;
  height: 0;
}


// image scroll
.image-scroller {
  width: 100%;  
  height: 600px;  
  background: url('../assets/img/work/wfpia.jpg') repeat-x;
  background-size: cover;  
  -webkit-animation: backgroundScroll 20s linear infinite;
  animation: imageScroll 20s linear infinite;
}

@-webkit-keyframes imageScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

@keyframes imageScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}
